**Conteúdos abordados**
1. List comprehension
2. Dataframes
3. Funções lambda + filter
4. Filtros em Dataframes

# Conceito - People Analytics
> **People Analytics** ou **análise de pessoas** é a abordagem orientada a dados que coleta, organiza e diagnostica dados sobre as equipes da empresa por meio de softwares e análises que cruzam as informações de diversas fontes — tudo para otimizar o gerenciamento de Recursos Humanos.

## Turnover

> Também conhecido como taxa de "Turnover" (do inglês) é o índice de rotatividade que simboliza a taxa média de saída de funcionários (demissões voluntárias e involuntárias) em relação ao número médio de funcionários de uma empresa em determinado espaço de tempo.

> O índice de rotatividade ideal varia de empresa para empresa mas, em geral, deve ser menos de 10% ao ano (1% ao mês).


## Turnover geral

 $$ Turnover geral = \dfrac{\dfrac{Numero \, de \, admissoes + Numero  \, de \, desligamentos}{2}}{Numero \, total \, de \, funcionarios} * 100$$


> Reflete a taxa de “movimentação” do número de funcionários dentro da empresa.

> Recomendada se você estiver querendo avaliar a rotatividade geral da empresa sem muita preocupação em extrair alguma informação qualitativa.

## Turnover de desligados
Para as pessoas desligadas da empresa, tem-se duas definições:
> **Desligados Ativos**: Quem pediu demissão;
> $$Turnover \, de \, desligados \, ativos = \dfrac{numero \, de \, desligados ativos(pediram \, demissao)}{todal \, de \, funcionarios} * 100$$
> **Desligados Passivos**: Quem foi demitido;
> $$Turnover \, de \, desligados \, passivos = \dfrac{numero \, de \, desligados \, passivos(demitidos)}{todal \, de \, funcionarios} * 100$$

> Se o turnover de **desligados passivos** é alto, significa que há um problema na contratação de funcionários. O processo de recrutamento e seleção muito provavelmente está deixando entrar na empresa pessoas sem fit cultural com a empresa ou que não atingem os níveis mínimos de performance nas avaliações de desempenho;

> Se turnover de **desligados ativos** é alto, a falha está na retenção de talentos. Faça uma avaliação de clima organizacional, procure por problemas no relacionamento com superiores, veja as condições de trabalho, ou seja, há algum problema sério na organização;

## Turnover de admissão
$$Turnover \, de \, admissão = \dfrac{numero \, de \, desligados \, com \, menos \, de \, 6 \, meses}{total \, de \, funcionarios} * 100 $$

> % de turnover para funcionários com até 6 meses;

> Um desligamento de uma pessoa tão recente indica uma falha grave no processos de seleção/recrutamento. Ou escolheu mal, ou não consegui transmitir para o candidato a real situação que ele encontraria, gerando um desalinhamento entre expectativa e realidade;

## Segmentar o turnover
É interessante analisar o turnover em diferentes níveis para se ter uma análise mais qualitativa, por exemplo:
> Por departamento;

> Por unidades de negócio;

> Por filiais;

> Por níveis hierárquicos;

> Por tempo de casa;

## Absenteísmo
$$= \dfrac{Numero \, de \, atrasos \, e \, faltas}{total \, de \, dias \, uteis} * 100 $$

> período em que os colaboradores se ausentam do trabalho, seja por atrasos, seja por faltas;

## Perguntas que people analytics consegue responder
> Quantas pessoas viram o link da vaga no site da empresa? e no linkedin?

> Quantas pessoas se inscreveram?

> Quanto tempo demorou o processo?

> Quanto tempo ela ficou?

> Quantos projetos participou?

> Quem foi o lider?

> Quantas horas perdidas?

> Existe alguma relação entre para quem uma pessoa trabalha e seu de desempenho?

> Qual é o perfil geral de diversidade da organização?

> Quais são nossas melhores fontes de recrutamento se quisermos garantir uma
organização diversificada?

> Existem áreas da empresa onde a remuneração não é equitativa?

## Data Dictionary [https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv](https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv)
<table>
<thead>
<tr>
<th style="text-align:left;">
Feature
</th>
<th style="text-align:left;">
Description
</th>
<th style="text-align:left;">
DataType
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Employee Name
</td>
<td style="text-align:left;">
Employee’s full name
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpID
</td>
<td style="text-align:left;">
Employee ID is unique to each employee
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
MarriedID
</td>
<td style="text-align:left;">
Is the person married (1 or 0 for yes or no)
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
MaritalStatusID
</td>
<td style="text-align:left;">
Marital status code that matches the text field MaritalDesc
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpStatusID
</td>
<td style="text-align:left;">
Employment status code that matches text field EmploymentStatus
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
DeptID
</td>
<td style="text-align:left;">
Department ID code that matches the department the employee works in
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
PerfScoreID
</td>
<td style="text-align:left;">
Performance Score code that matches the employee’s most recent performance score
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
FromDiversityJobFairID
</td>
<td style="text-align:left;">
Was the employee sourced from the Diversity job fair? 1 or 0 for yes or no
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
Salary
</td>
<td style="text-align:left;">
The person’s yearly salary. $ U.S. Dollars
</td>
<td style="text-align:left;">
Float
</td>
</tr>
<tr>
<td style="text-align:left;">
Termd
</td>
<td style="text-align:left;">
Has this employee been terminated - 1 or 0
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
PositionID
</td>
<td style="text-align:left;">
An integer indicating the person’s position
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
Position
</td>
<td style="text-align:left;">
The text name/title of the position the person has
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
State
</td>
<td style="text-align:left;">
The state that the person lives in
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
Zip
</td>
<td style="text-align:left;">
The zip code for the employee
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
DOB
</td>
<td style="text-align:left;">
Date of Birth for the employee
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
Sex
</td>
<td style="text-align:left;">
Sex - M or F
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
MaritalDesc
</td>
<td style="text-align:left;">
The marital status of the person (divorced, single, widowed, separated, etc)
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
CitizenDesc
</td>
<td style="text-align:left;">
Label for whether the person is a Citizen or Eligible NonCitizen
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
HispanicLatino
</td>
<td style="text-align:left;">
Yes or No field for whether the employee is Hispanic/Latino
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
RaceDesc
</td>
<td style="text-align:left;">
Description/text of the race the person identifies with
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
DateofHire
</td>
<td style="text-align:left;">
Date the person was hired
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
DateofTermination
</td>
<td style="text-align:left;">
Date the person was terminated, only populated if, in fact, Termd = 1
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
TermReason
</td>
<td style="text-align:left;">
A text reason / description for why the person was terminated
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EmploymentStatus
</td>
<td style="text-align:left;">
A description/category of the person’s employment status. Anyone currently working full time = Active
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
Department
</td>
<td style="text-align:left;">
Name of the department that the person works in
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
ManagerName
</td>
<td style="text-align:left;">
The name of the person’s immediate manager
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
ManagerID
</td>
<td style="text-align:left;">
A unique identifier for each manager.
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
RecruitmentSource
</td>
<td style="text-align:left;">
The name of the recruitment source where the employee was recruited from
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
PerformanceScore
</td>
<td style="text-align:left;">
Performance Score text/category (Fully Meets, Partially Meets, PIP, Exceeds)
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EngagementSurvey
</td>
<td style="text-align:left;">
Results from the last engagement survey, managed by our external partner
</td>
<td style="text-align:left;">
Float
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpSatisfaction
</td>
<td style="text-align:left;">
A basic satisfaction score between 1 and 5, as reported on a recent employee satisfaction survey
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
SpecialProjectsCount
</td>
<td style="text-align:left;">
The number of special projects that the employee worked on during the last 6 months
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
LastPerformanceReviewDate
</td>
<td style="text-align:left;">
The most recent date of the person’s last performance review.
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
DaysLateLast30
</td>
<td style="text-align:left;">
The number of times that the employee was late to work during the last 30 days
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
Absences
</td>
<td style="text-align:left;">
The number of times the employee was absent from work.
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
</tbody>
</table>

# Sobre os dados
> Cada linha representa um colaborador;

> DateofTermination tem valores nulos para alguns funcionários porque esses funcionários ainda trabalham na empresa;

# Exercícios

## Exercício 1
O time de RH de uma empresa quer ter uma noção do fluxo de funcionários durante o ano de 2016. Para isso, é necessário o cálculo do turnover geral. Qual o turnover geral de 2016?

In [2]:
import pandas as pd
pd.set_option('display.max_columns',100) # mostra no máximo 100 colunas

In [3]:
# Carregue os dados em um dataframe
df = pd.read_csv('https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv')

In [4]:
# Verifique as 5 primeiras linhas do dataframe para entender um pouco mais sobre os dados
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [6]:
# Verifique as características estatíticas desse dataframe com o método .describe()
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [7]:
# Crie uma selçao que filtre no dataframe as pessoas desligadas, ou seja df['Termd'] == 1 e
# Coloque numa variavel chamada df_termination o dataframe filtrado
selecao = df['Termd'] == 1
df_termination = df[selecao]
df_termination.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
10,"Baczenski, Rachael",10252,1,1,0,5,5,3,1,54670,1,19,Production Technician I,MA,1902,01/12/74,F,Married,US Citizen,Yes,Black or African American,1/10/2011,1/12/2017,Another position,Voluntarily Terminated,Production,David Stanley,14.0,Diversity Job Fair,Fully Meets,4.20,4,0,1/30/2016,0,12
11,"Barbara, Thomas",10242,1,1,1,5,5,3,1,47211,1,19,Production Technician I,MA,2062,02/21/74,M,Married,US Citizen,Yes,Black or African American,4/2/2012,9/19/2016,unhappy,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Diversity Job Fair,Fully Meets,4.20,3,0,5/6/2016,0,15

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [9]:
# encontre a quantidade de pessoas demitidas em 2016 utilizando filter e lambda function e list comprehension
lista_termination = list(filter(lambda x: x == '2016',[linha.split("/")[-1] for linha in df_termination['DateofTermination']]))
numero_desligados = len(lista_termination)
print("O numero de desligados é:", numero_desligados)

O numero de desligados é: 22

In [10]:
# Encontre a quantidade de pessoas contratadas em 2016 utilizando filter e lambda function e list comprehension
lista_contratacao = list(filter(lambda x: x == '2016',[linha.split("/")[-1] for linha in df['DateofHire']]))
numero_contratados = len(lista_contratacao)
print("O numero de contratados é:", numero_contratados)

O numero de contratados é: 14

In [11]:
# Calcule o turnover_geral = (((admissoes + desligamentos)/2) / total_funcionarios) * 100
total_funcionarios_2016 = 200
turnover_geral = (((numero_contratados + numero_desligados)/2) / total_funcionarios_2016) * 100
print(turnover_geral)

9.0

## Exercício 2.1

O time de treinamentos pediu para um colega seu adicionar, para cada colaborador, um dicionário contendo os seguintes dados:
~~~python
{'skill_name': ['Teamwork','collaboration skills']}
~~~

In [12]:
# Verifique o tamanho de df com .shape
df.shape

(311, 36)

In [13]:
# Crie uma coluna em df chamada 'skills' e adicione a estrutra acima para cada colaborador
df['skills'] = [{'skill_name': ['Teamwork','collaboration skills']} for item in range(df.shape[0])]
display(df)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski..."
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,"{'skill_name': ['Teamwork', 'collaboration ski..."
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"{'skill_name': ['Teamwork', 'collaboration ski..."
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,"{'skill_name': ['Teamwork', 'collaboration ski..."
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,"{'skill_name': ['Teamwork', 'collaboration ski..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13,"{'skill_name': ['Teamwork', 'collaboration ski..."
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4,"{'skill_name': ['Teamwork', 'collaboration ski..."
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16,"{'skill_name': ['Teamwork', 'collaboration ski..."
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11,"{'skill_name': ['Teamwork', 'collaboration ski..."
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2,"{'skill_name': ['Teamwork', 'collaboration ski..."

## Exercício 2.2
Agora o time de treinamentos quer que você organize essas skills tirando-as de dentro das listas, juntando-as com espaço (" "). O resultado final deve ser
> Teamwork collaboration skills

Utilize o método apply para realizar essa tarefa.

In [14]:
# Crie uma coluna chamada 'skills_tratada' em df e faça as transformações necessárias para retornar a string 'Teamwork collaboration skills'
df['skills_tratada'] = df['skills'].apply(lambda x: x['skill_name'][0] + " " + x['skill_name'][1])
display(df)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills

# Filtros

# Exercício 3
O pessoal de Employee Experience quer entender alguns comportamentos das pessoas que faltam no Trabalho. Eles chegaram com algumas perguntas:

1. Quantos colaboradores tiveram mais faltas? Quantos tiveram menos faltas?
2. Pessoas que possuem o maior numero de faltas avaliam mal sua satisfação no trabalho? e com menor numero de faltas?
3. Pessoas que possuem o maior numero de faltas tem nota ruim de engajamento? E com menor numero de faltas?

### Quantos colaboradores tiveram mais faltas? Quantos tiveram menos faltas?

#### 20 colaboradores tiveram mais faltas
#### 1 colaborador teve menos faltas

In [15]:
# filtre pessoas com o maior numero de faltas
maximo_faltas = df['Absences'].max()
print(maximo_faltas)

20

In [16]:
selecao = df['Absences'] == df['Absences'].max()
df_maximo_faltas = df[selecao]
display(df_maximo_faltas)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
15,"Bates, Norman",10061,0,0,1,4,5,3,0,57834,1,19,Production Technician I,MA,2050,10/18/81,M,Single,US Citizen,No,White,2/21/2011,8/4/2017,attendance,Terminated for Cause,Production,Kelley Spirea,18.0,Google Search,Fully Meets,5.00,4,0,4/5/2017,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
93,"Fitzpatrick, Michael J",10093,0,0,1,5,5,3,0,72609,1,20,Production Technician II,MA,2143,10/01/81,M,Single,US Citizen,Yes,White,5/16/2011,6/24/2013,hours,Voluntarily Terminated,Production,Amy Dunn,11.0,Google Search,Fully Meets,4.76,5,0,4/5/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
107,"Givens, Myriam",10255,0,0,0,1,6,3,0,61555,0,3,Area Sales Manager,IN,46204,09/22/89,F,Single,US Citizen,No,White,2/16/2015,NaN,N/A-StillEmployed,Active,Sales,Lynn Daneault,21.0,Indeed,Fully Meets,4.50,5,0,1/25/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
109,"Goeth, Amon",10228,1,1,1,1,3,3,0,74679,0,14,IT Support,MA,2135,11/24/89,M,Married,US Citizen,Yes,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Peter Monroe,7.0,LinkedIn,Fully Meets,4.30,5,7,1/10/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
114,"Good, Susan",10237,1,1,0,3,5,3,0,66825,0,20,Production Technician II,MA,1886,05/25/86,F,Married,US Citizen,No,White,5/12/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.60,3,0,2/7/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
121,"Guilianno, Mike",10109,0,0,1,5,6,3,0,71707,1,3,Area Sales Manager,TN,37129,02/09/69,M,Single,US Citizen,No,Two or more races,3/7/2012,10/31/2014,relocation out of area,Voluntarily Terminated,Sales,John Smith,17.0,LinkedIn,Fully Meets,4.50,5,0,2/1/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
123,"Hankard, Earnest",10074,0,0,1,1,5,3,0,64246,0,20,Production Technician II,MA,2155,08/10/88,M,Single,US Citizen,Yes,White,11/11/2013,NaN,N/A-StillEmployed,Active,Production,Kelley Spirea,18.0,LinkedIn,Fully Meets,5.00,3,0,1/8/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
155,"Kreuger, Freddy",10165,0,0,1,1,6,3,1,71339,0,3,Area Sales Manager,NY,10171,02/24/69,M,Single,US Citizen,Yes,Black or African American,3/7/2011,NaN,N/A-StillEmployed,Active,Sales,John Smith,17.0,Diversity Job Fair,Fully Meets,3.65,5,0,1/17/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
158,"Langford, Lindsey",10106,0,2,0,5,5,3,0,66074,1,20,Production Technician II,MA,2090,07/25/79,F,Divorced,US Citizen,No,Asian,1/7/2013,3/31/2014,Another position,Voluntarily Terminated,Production,David Stanley,14.0,Indeed,Fully Meets,4.52,3,0,2/20/2014,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
161,"Latif, Mohammed",10249,1,1,1,5,5,3,0,61962,1,20,Production Technician II,MA,2126,05/09/84,M,Married,US Citizen,No,White,4/2/2012,4/15/2013,more money,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Google Search,Fully Meets,4.90,3,0,2/20/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
164,"LeBlanc, Brandon R",10134,1,1,1,1,1,3,0,93046,0,23,Shared Services Manager,MA,1460,06/10/84,M,Married,US Citizen,No,White,1/5/2016,NaN,N/A-StillEmployed,Active,Admin Offices,Janet King,2.0,CareerBuilder,Fully Meets,4.10,4,0,1/28/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
183,"Mckenna, Sandy",10145,1,1,0,1,5,3,0,62810,0,19,Production Technician I,MA,2184,01/07/87,F,Married,US Citizen,No,Black or African American,1/7/2013,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,CareerBuilder,Fully Meets,3.93,3,0,1/30/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
256,"Sloan, Constance",10095,0,0,0,5,5,3,0,63878,1,20,Production Technician II,MA,1851,11/25/87,F,Single,US Citizen,No,White,10/26/2009,4/8/2015,maternity leave - did not return,Voluntarily Terminated,Production,Michael Albert,22.0,CareerBuilder,Fully Meets,4.68,4,0,4/2/2015,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
263,"Sparks, Taylor",10302,1,1,0,1,5,1,0,64021,0,19,Production Technician I,MA,2093,07/20/68,F,Married,US Citizen,No,White,2/20/2012,NaN,N/A-StillEmployed,Active,Production,Brannon Miller,12.0,Indeed,PIP,2.40,2,1,2/25/2019,6,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills

In [17]:
# conte a quantidade de pessoas com as maiores faltas
df_maximo_faltas['EmpID'].count()

14

In [18]:
# filtre pessoas com o menor numero de faltas
minimo_faltas = df['Absences'].min()
print(minimo_faltas)

1

In [19]:
selecao = df['Absences'] == df['Absences'].min()
df_minimo_faltas = df[selecao]
display(df_minimo_faltas)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
14,"Barton, Nader",10066,0,2,1,5,5,3,0,52505,1,19,Production Technician I,MA,2747,07/15/77,M,Divorced,US Citizen,No,White,9/24/2012,4/6/2017,Another position,Voluntarily Terminated,Production,Michael Albert,22.0,On-line Web application,Fully Meets,5.00,5,0,3/2/2017,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
62,"Darson, Jene'ya",10056,1,1,0,1,5,3,0,57583,0,19,Production Technician I,MA,2110,11/05/78,F,Married,US Citizen,No,White,7/2/2012,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,5.00,3,0,2/25/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
68,"Demita, Carla",10100,0,3,0,5,5,3,0,58275,1,20,Production Technician II,MA,2343,02/25/51,F,Separated,US Citizen,No,Black or African American,4/4/2011,11/4/2015,more money,Voluntarily Terminated,Production,Kelley Spirea,18.0,Google Search,Fully Meets,4.62,5,0,5/6/2015,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
71,"Dickinson, Geoff",10276,0,0,1,1,5,3,0,51259,0,19,Production Technician I,MA,2180,11/15/82,M,Single,US Citizen,No,White,5/12/2014,NaN,N/A-StillEmployed,Active,Production,Ketsia Liebig,19.0,Indeed,Fully Meets,4.30,4,0,2/19/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
99,"Galia, Lisa",10273,0,0,0,1,3,3,0,65707,0,14,IT Support,CT,6040,07/06/68,F,Single,US Citizen,No,White,5/1/2010,NaN,N/A-StillEmployed,Active,IT/IS,Eric Dougall,6.0,LinkedIn,Fully Meets,4.70,4,5,2/1/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
111,"Gonzalez, Cayo",10031,0,2,1,1,5,4,1,59892,0,19,Production Technician I,MA,2108,09/29/69,M,Divorced,US Citizen,No,Black or African American,7/11/2011,NaN,N/A-StillEmployed,Active,Production,Brannon Miller,12.0,Diversity Job Fair,Exceeds,4.50,4,0,2/18/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
116,"Gosciminski, Phylicia",10218,0,3,0,3,5,3,0,66149,0,20,Production Technician II,MA,1824,12/08/83,F,Separated,US Citizen,No,American Indian or Alaska Native,9/30/2013,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,Google Search,Fully Meets,4.40,5,0,2/21/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
126,"Heitzman, Anthony",10129,0,0,1,1,5,3,0,46998,0,19,Production Technician I,MA,2149,01/04/84,M,Single,US Citizen,No,White,8/13/2012,NaN,N/A-StillEmployed,Active,Production,Ketsia Liebig,19.0,Google Search,Fully Meets,4.17,4,0,2/11/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
145,"Johnston, Yen",10036,0,0,0,1,5,4,0,63322,0,20,Production Technician II,MA,2128,09/08/69,F,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Brannon Miller,12.0,LinkedIn,Exceeds,4.30,3,0,1/11/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
191,"Monterro, Luisa",10025,0,0,0,1,5,4,0,72460,0,20,Production Technician II,MA,2126,04/24/70,F,Single,US Citizen,No,Black or African American,5/13/2013,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,Indeed,Exceeds,4.70,3,0,1/14/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
207,"Onque, Jasmine",10121,0,0,0,1,6,3,0,63051,0,3,Area Sales Manager,FL,33174,05/11/90,F,Single,US Citizen,Yes,White,9/30/2013,NaN,N/A-StillEmployed,Active,Sales,Lynn Daneault,21.0,Indeed,Fully Meets,4.28,3,0,1/25/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
274,"Szabo, Andrew",10024,0,0,1,1,4,4,0,92989,0,24,Software Engineer,MA,2140,05/06/83,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Software Engineering,Alex Sweetwater,10.0,LinkedIn,Exceeds,4.50,5,5,2/18/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills
279,"Theamstern, Sophia",10141,0,0,0,5,5,3,0,48413,1,19,Production Technician I,MA,2066,05/09/65,F,Single,US Citizen,No,White,7/5/2011,9/5/2016,return to school,Voluntarily Terminated,Production,Amy Dunn,11.0,Indeed,Fully Meets,3.98,4,0,3/2/2016,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Teamwork collaboration skills

In [20]:
# conte a quantidade de pessoas com as menore faltas
df_minimo_faltas['EmpID'].count()

14

### Pessoas que possuem o maior numero de faltas avaliam mal sua satisfação no trabalho?

### Pessoas que possuem o menor numero de faltas avaliam mal sua satisfação no trabalho?

#### Avaliando ambos os resultados é uma média bem aproximada mas a satisfação de pessoas com o menor numero de faltas é melhor

In [21]:
df_minimo_faltas['EmpSatisfaction']

0      5
14     5
62     3
68     5
71     4
99     4
111    4
116    5
126    4
145    3
191    3
207    3
274    5
279    4
Name: EmpSatisfaction, dtype: int64

In [22]:
df_minimo_faltas[['Employee_Name','EmpSatisfaction']]

               Employee_Name  EmpSatisfaction
0        Adinolfi, Wilson  K                5
14             Barton, Nader                5
62          Darson, Jene'ya                 3
68             Demita, Carla                5
71         Dickinson, Geoff                 4
99               Galia, Lisa                4
111           Gonzalez, Cayo                4
116  Gosciminski, Phylicia                  5
126        Heitzman, Anthony                4
145            Johnston, Yen                3
191          Monterro, Luisa                3
207           Onque, Jasmine                3
274            Szabo, Andrew                5
279       Theamstern, Sophia                4

In [23]:
df_minimo_faltas['EmpSatisfaction'].mean()
## conclusões

4.071428571428571

In [24]:
df_maximo_faltas['EmpSatisfaction'].mean()
# conclusões

3.857142857142857

### Pessoas que possuem o maior numero de faltas tem nota ruim de engajamento?

#### Não

In [25]:
df_maximo_faltas['EngagementSurvey'].mean()
# conclusoes

4.345714285714285

### Pessoas que possuem o menor numero de faltas tem nota melhor de engajamento?

#### Pouca coisa, mas sim

In [26]:
df_minimo_faltas['EngagementSurvey'].mean()
# conclusoes

4.503571428571428

# Exercicio 4
O pessoal de Employee Experience quer entender se existe algum impacto de algumas variáveis nas faltas e na satisfação dos colaboradores. São elas: estado civil, departamento, satisfação do colaborador. Eles fizeram algumas perguntas:


1. O departamento tem impacto na quantidade de faltas?
2. O departamento tem impacto na satisfação do coolaborador?
3. A participação em projetos tem impacto nas faltas?

### O estado civil solteiro tem impacto na quantidade de faltas? E o estado casado ?

#### Casados costumam faltar mais que solteiros, mas a diferença é muito pequena

In [27]:
df['MaritalDesc'].unique()

array(['Single', 'Married', 'Divorced', 'Widowed', 'Separated'],
      dtype=object)

In [28]:
df_solteiros = df[df['MaritalDesc'] == 'Single']

In [29]:
df_casados = df[df['MaritalDesc'] == 'Married']

In [30]:
df_viuvos = df[df['MaritalDesc'] == 'Widowed']

In [31]:
df_separados = df[df['MaritalDesc'] == 'Separated']

In [32]:
df_solteiros['Absences'].mean()

9.773722627737227

In [33]:
df_casados['Absences'].mean()

10.92741935483871

In [34]:
df_viuvos['Absences'].mean()

10.875

In [35]:
df_separados['Absences'].mean()

8.583333333333334

### O departamento do colaborador tem impacto na quantidade de faltas?

#### O departamento de vendas possuem mais faltas
#### Já o departamento de Engenharia de Software possuem menos faltas

In [36]:
df['Department'].unique()

array(['Production       ', 'IT/IS', 'Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office'], dtype=object)

In [37]:
df['Department_tratada'] = df['Department'].apply(lambda x: x.strip())

In [38]:
df['Department_tratada'].unique()

array(['Production', 'IT/IS', 'Software Engineering', 'Admin Offices',
       'Sales', 'Executive Office'], dtype=object)

In [39]:
df[df['Department_tratada'] == 'Production']['Absences'].mean()

10.14354066985646

In [40]:
df[df['Department_tratada'] == 'IT/IS']['Absences'].mean()

10.44

In [41]:
df[df['Department_tratada'] == 'Software Engineering']['Absences'].mean()

8.727272727272727

In [42]:
df[df['Department_tratada'] == 'Sales']['Absences'].mean()

11.548387096774194

### O Departamento tem impacto na satisfação do coolaborador?

#### O departamento de Produção possue uma menos satisfação
#### O deparatmneto de Engenharia possui uma maior satisfação
#### No entento não há uma diferença significativa

In [43]:
df[df['Department_tratada'] == 'Production']['EmpSatisfaction'].mean()

3.861244019138756

In [44]:
df[df['Department_tratada'] == 'Sales']['EmpSatisfaction'].mean()

4.032258064516129

In [45]:
df[df['Department_tratada'] == 'Software Engineering']['EmpSatisfaction'].mean()

4.090909090909091

In [46]:
df[df['Department_tratada'] == 'IT/IS']['EmpSatisfaction'].mean()

3.96

### A participação em projetos tem impacto nas faltas?

#### Aparentemente sim, já que o departamento de Engenharia é o que possui relativamente menos falta e participam de mais de projetos assim como o departamento de TI

In [47]:
df[df['Department_tratada'] == 'Production']['SpecialProjectsCount'].mean()

0.019138755980861243

In [48]:
df[df['Department_tratada'] == 'Sales']['SpecialProjectsCount'].mean()

0.0

In [49]:
df[df['Department_tratada'] == 'Software Engineering']['SpecialProjectsCount'].mean()

4.181818181818182

In [50]:
df[df['Department_tratada'] == 'IT/IS']['SpecialProjectsCount'].mean()

5.92